<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IpLookupServiceUrl" value="http://bot.whatismyipaddress.com"/>
    <add key="CurrentIpFilePathAndName" value="C:\yourFolder\currentFileName.txt"/>
    <add key="IpHistoryFilePathAndName" value="C:\yourFolder\historyFileName.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
